.NumberButton{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(48, 48, 48);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  
}

.NumberButton p{
  font-family:'Lucida Sans', 'Lucida Sans Regular';
  font-size: 30px;
}

.NumberButtons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr ;
  row-gap: 10px;
  place-items: center;
}


.Buttons{
  margin-top: 20px;
}
